@tailwind base;
@tailwind components;
@tailwind utilities;

.label-style {
  @apply block text-sm font-medium text-gray-700 mb-1;
}

.input-style {
  @apply block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-ifpr-green focus:border-ifpr-green sm:text-sm;
}

.btn-primary {
  @apply w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-ifpr-green hover:bg-ifpr-green-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-ifpr-green;
}

.btn-blue {
  @apply w-full rounded-md bg-blue-600 px-4 py-2.5 text-center text-sm font-semibold text-white shadow-sm transition hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 disabled:opacity-50;
}